<ion-card mode="ios">
    <ion-card-header>
        <ion-card-subtitle>
            <span>Categoría</span>
            <div class="snippet-more">
                <ion-button fill="clear">
                    <ion-icon slot="icon-only" name="more"></ion-icon>
                </ion-button>
            </div>
        </ion-card-subtitle>
        <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
</ion-card>