<ion-card mode="ios">
    <ion-card-header>
        <ion-card-subtitle>
            <span class="category-subtitle">Categoría</span>
            <div class="snippet-more">
                <ion-button fill="clear" (click)="presentActionSheet()">
                    <ion-icon slot="icon-only" name="more"></ion-icon>
                </ion-button>
            </div>
        </ion-card-subtitle>
        <ion-card-title>{{ snippet.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-label>{{ snippet.subtitle }}</ion-label>
        <div>
            <pre><code class="css" #code>{{ testCode }}</code>
        </pre>
        </div>
        <!-- Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. -->
    </ion-card-content>
</ion-card>