.snippet-more {
    font-size: 1.3rem !important;
    position: absolute;
    right: -14px;
    top: -18px;
}

pre {
    display: flex;
    margin-bottom: 0;
    border-radius: 5px;
}

code {
    width: 100%;
}

.category-subtitle {
    font-size: .7rem;
}