<ion-card mode="ios">
    <ion-card-header>
        <ion-card-subtitle>
            <span class="category-subtitle" *ngFor="let category of snippet.categories">{{ category.title }}</span>
            <div class="snippet-more">
                <ion-button fill="clear" (click)="presentActionSheet()">
                    <ion-icon slot="icon-only" name="more"></ion-icon>
                </ion-button>
            </div>
        </ion-card-subtitle>
        <ion-card-title [routerLink]="['/snippet-detail', snippet.id]">{{ snippet.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-label>{{ snippet.subtitle }}</ion-label>
        <!-- <div>
            <pre><code #code>{{ testCode }}</code></pre>
        </div> -->
        <div [innerHTML]="snippet.body | domSeguro"></div>
        <!-- Keep close to Nature's heart... and break clear away, once in awhile, and climb a mountain or spend a week in the woods. Wash your spirit clean. -->
    </ion-card-content>
</ion-card>