<ion-header no-border>
    <ion-toolbar>
        <ion-title>
            Mr. Snippet
        </ion-title>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar showCancelButton="focus" cancelButtonText="Cancelar" placeholder="Buscar Snippet"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-snippets></app-snippets>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="/add-snippet">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>